body {
  font-family: "PTAstraSans", "Arial", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

ul {
  .reset();
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "PTAstraSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}
