.title {
  position: relative;
  padding-bottom: 55px;
  margin-bottom: 70px;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 686px;
    height: 24px;
    display: block;
    background-image: url(../img/wave.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.title__h1 {
  font-size: 113px;
  font-weight: 700;
  letter-spacing: 22px;
  text-transform: uppercase;
  margin-top: 65px;
  margin-bottom: 40px;
}

.title__h2 {
  font-size: 48px;
  font-weight: 400;
}

.text {
  line-height: 1.3;
}